// Buttons
// --------------------------------------------------

.btn {
	font-size: $btn-font-size;
}

.btn-primary, .btn-secondary {
	&:hover, &:focus {
		background-color: $link-hover-color;
		border-color: $link-hover-color;
	}
}

.btn-success {
	&:hover, &:focus {
		background-color: $link-color;
		border-color: $link-color;
	}
}

button {
	background-color: $white;
}

.btn-outline-light {
    color: $white;
    border-color: $white;
	@include antialiased();
}

.btn-load {
	font-size: remCalc(12px);
	background: $secondary;
	border-color: $secondary;
	border-radius: 0;
	color: $white;
}
