// Slideshow Carousels
// --------------------------------------------------

.carousel-inner img {
	margin: 0 auto;
}
.carousel-inner > .item {
	overflow: hidden;
}
//.carousel-inner>.item>img, .carousel-inner>.item>a>img {
//	@media (max-width: $screen-sm-min) {
//		max-height: 300px;
//		width: auto;
//	}
//}
.carousel-control {
	text-shadow: none;
	height: 50px;
	width: 25px;
	opacity: 0.6;
	padding-top: 10px;
	top: 50%;
	margin-top: -40px;
	@media (min-width: $screen-sm-min) {
		height: 70px;
		width: 35px;
		padding-top: 20px;
		margin-top: -80px;
		opacity: 0.8;
		&:focus {
			opacity: 0.8;	
		}
	}
	@include transition(all .3s ease);
	.sr-only {
		color: $black;
	}
}
.carousel-control.left, .carousel-control.right {
	background: $brand-primary-light;
	background-image: none;
	&:hover {
		background: $brand-primary-light;
		opacity: 1;
	}
}
.carousel-control.left {
	border-radius: 0 3px 3px 0;
	@include box-shadow(1px 1px 1px rgba(0,0,0,0.2));
	padding-right: 5px;
}
.carousel-control.right {
	border-radius: 3px 0 0 3px;
	@include box-shadow(-1px 1px 1px rgba(0,0,0,0.2));
	padding-left: 5px;
}
.arrow-left::before, .arrow-right::before {
	font-family: "Font Awesome 5 Free";
	content: "\f053"; // fas fa-chevron-left
	font-weight: 900;
	font-size: 30px;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	line-height: 1;
	color: $brand-secondary;
}
.arrow-left::before {
	content: "\f053"; // fas fa-chevron-left
}
.arrow-right::before {
	content: "\f054"; // fas fa-chevron-right
}
.carousel-indicators {
	left: 7px;
	bottom: -1px;
	margin-left: 0;
	width: auto;
	max-width: 220px;
	text-align: left;
	&.has-caption {
		display: none;
	}
	@media (min-width: $screen-sm-min) {
		left: 15px;
		bottom: 2px;
		&.has-caption {
			display: block;
		}
	}
	li {
		margin: 0;
		line-height: 1;
		border-color: $brand-primary-light;
		&:hover {
			background: $brand-primary-light;
		}
	}
	.active {
		background: $brand-primary-light;
		margin: 0;
		width: 10px;
		height: 10px;
	}
}
.carousel-caption {
	left: 0;
	right: 0;
	padding: 7px 80px 7px 15px;
	line-height: 1.2;
	text-align: left;
	color: $white;
	background: $hero-bg;
	position: absolute;
	bottom: 0;
	@include antialiased();
	@include text-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
	@include transition(margin-bottom .3s);
	opacity: 0;
	&.has-caption {
		margin-bottom: 0;
		opacity: 1;
	}
	@media (min-width: $screen-sm-min) {
		opacity: 1;
		padding: 0 250px;
		text-align: center;
		height: $caption-height;
		overflow: hidden;
		margin-bottom: -$caption-height;
	}
	a.disclaimer {
		font-size: 12px;
		color: $white;
	}
	a.disclaimer:hover {
		color: $brand-highlight;
	}
}
.btn.show-caption {
	z-index: 15;
	background-color: transparent;
	border: 1px solid $brand-primary-light;
	color: $brand-primary-medium;
	padding: 2px 4px;
	position: absolute;
	bottom: 10px;
	right: 7px;
	font-size: 10px;
	border-radius: 3px;
	@include antialiased();
	font-weight: 700;
	@include transition(background-color .3s ease);
	@include transition(color .2s ease);
	@media (min-width: $screen-sm-min) {
		padding: 5px 8px;
		bottom: 15px;
		right: 15px;
	}
	&:hover, &.has-caption {
		background-color: $brand-primary-light;
		border-color: $brand-primary-light;
		color: $brand-secondary-dark;
	}
}

// Floorplan
.row-floorplan {
	margin-top: 2px;
}
#floorplan-carousel .carousel-indicators {
	left: 50%;
	bottom: 3px;
	li {
		border-color: $brand-secondary-medium;
		&:hover {
			background: $brand-secondary-medium;
		}
	}
	.active {
		background: $brand-secondary-medium;
	}
}
.floorplan-carousel {
	background: $white;
}
.floorplan-caption {
	text-align: center;
	padding: 18px 10px 5px 10px;
	h3 {
		margin: 0;
		color: $brand-primary;
	}
	p {
		margin-top: 6px;
		margin-bottom: 0;
		color: $brand-primary;
	}
}
.floorplan-disclaimer {
	text-align: center;
	padding: 10px 10px 40px 10px;
	font-size: 11px;
	p {
		margin: 0;
		color: $brand-primary-highlight;
	}
}
