// Footer
// --------------------------------------------------

.footer-site {
	background: $brand-primary url(images/pattern-footer.png);
	padding-bottom: 20px;
	color: $brand-primary-light;	
	a {
		color: $brand-highlight;
	}
	a:hover {
		color: $brand-primary-medium;
	}
	@media (min-width: $screen-md-min) {
		z-index: 1000;
		position: relative;
	}
}
.footer-links {
	@extend .col-xs-12;
	@extend .col-md-8;
	@extend .col-lg-7;
	position: relative;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 1.8;
	margin-top: 20px;
	color: $brand-primary-gray-light;
	text-align: center;
	@media (min-width: $screen-md-min) {
		text-align: left;
		margin-top: 30px;
		line-height: 1.6;
	}
	@media (min-width: $screen-lg-min) {
		margin-top: 50px;
	}
	&:before {
		content: "";
		@include use-sprite("gs-sm-green");
		margin-bottom: 10px;
		@media (min-width: $screen-md-min) {
			position: absolute;
			left: 0;
			top: 0;
			margin-bottom: 0;
		}
	}
	.text {
		@media (min-width: $screen-md-min) {
			margin-left: 32px;
			padding-left: 15px;
			border-left: 1px solid $brand-highlight;
		}
	}
	ul {
		margin-bottom: 9px;
		font-weight: 500;
	}
	ul li {
		display: inline-block;
		border-right: 1px solid $brand-primary-highlight;
		margin-right: 5px;
		padding-right: 7px;
	}
	ul li:last-child {
		border-right: none;
		margin-right: 0;
		padding-right: 0;
	}
}
.footer-script {
	@extend .col-xs-12;
	@extend .col-md-4;
	@extend .col-lg-5;
	text-align: center;
	@media (min-width: $screen-sm-min) {
		padding: 0;
	}
	@media (min-width: $screen-md-min) {
		text-align: left;
	}
}
.script-img {
	width: 100%;
	max-width: 350px;
	height: auto;
	margin-top: 5px;
	@media (min-width: $screen-sm-min) {
		max-width: 400px;
	}
	@media (min-width: $screen-md-min) {
		max-width: 100%;
		margin-top: -10px;
		float: right;
	}
	@media (min-width: $screen-lg-min) {
		margin-top: -15px;
	}
}
.eho {
	display: block;
	@media (min-width: $screen-sm-min) {
		display: inline;
		margin-left: 7px;
	}
	&:before {
		content: "";
		@include use-sprite("icon-eho");
		margin-right: 5px;
	}
}