// Intro & Quote
// --------------------------------------------------

//Intro
.row-intro {
	background: $brand-background-dark;
}
.intro {
	@extend .col-xs-12;
	@extend .col-sm-7;
	@extend .col-md-8;
	color: $brand-secondary-dark;
	font-weight: 300;
	font-size: 17px;
	line-height: 1.5;
	padding: 25px 35px 15px 35px;
	@media (min-width: $screen-sm-min) {
		font-size: 18px;
		padding: 25px 40px;
	}
	@media (min-width: $screen-lg-min) {
		font-size: 20px;
	}
}

//Intro Details
.intro-details {
	@extend .col-xs-12;
	@extend .col-sm-5;
	@extend .col-md-4;
}
//--Quote
.quote {
	font-family: $font-family-serif;
	font-size: 13px;
	line-height: 1.7;
	text-transform: uppercase;
	padding: 0 35px 20px 35px;
	@media (min-width: $screen-sm-min) {
		padding: 0 0 20px 0;
	}
	@media (min-width: $screen-lg-min) {
		font-size: 14px;
		line-height: 1.85;
	}
}
.quote-text {
	background: $brand-secondary;
	color: $brand-background-dark;
	padding: 20px 30px;
	@media (min-width: $screen-md-min) {
		padding: 25px 35px;
	}
}
.quote-author {
	color:  $brand-secondary;
	font-family: $font-family-sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 1.2;
	position: relative;
	&:before {
		content: "";
		@include use-sprite("quote-arrow");
		position: absolute;
		top: 0;
		right: 30px;
	}
	padding: 10px 90px 0 30px;
	@media (min-width: $screen-md-min) {
		padding: 15px 95px 0 35px;
	}
}
//--Details
.details {
	font-size: 15px;
	padding: 0 30px 20px 30px;
	@media (min-width: $screen-sm-min) {
		padding: 20px 30px 20px 0;
		float: right;
	}
}