// Global Base Styles
// --------------------------------------------------

body {
	font-weight: 300;
	font-style: normal;
	background: $body-bg url(images/pattern-body.png);
	text-rendering: optimizeLegibility;
	padding-top: $header-primary-height + $header-secondary-height;
	@media (min-width: $screen-sm-min) {
		padding-top: $header-primary-height-sm + $header-secondary-height;
	}
	@media (min-width: $screen-md-min) {
		padding-top: $header-primary-height-lg + $header-secondary-height;
	}
}
a {
	@include transition(color .1s ease);
	-webkit-tap-highlight-color: rgba(0,165,199,0.2);
}
.header-site ul, .footer-site ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

// Headers
h1, .h1 {
	@include antialiased();
	font-family: $font-family-sans-serif;
	font-size: 28px;
	@media (min-width: $screen-sm-min) {
		font-size: 40px;
	}
	@media (min-width: $screen-lg-min) {
		font-size: 50px;
	}
	margin-bottom: 20px;
}
h2, .h2 {
	text-transform: uppercase;
	font-size: 23px;
}
h3, .h3 {
	text-transform: none;
	font-family: $font-family-sans-serif;
	font-size: 18px;
	font-weight: 500;
}
h4, .h4 {
	text-transform: uppercase;
	font-size: 18px;
}
h5, .h5 {
	font-family: $font-family-sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	@include antialiased();
}
h6, .h6 {
	
}

// Text Features
strong {
	font-weight: 700;
}
.more, .more-link {
	text-transform: uppercase;
	font-weight: 700;
	&::after {
		font-family: "Font Awesome 5 Free";
		content: "\f054"; // fas fa-chevron-right
		font-weight: 900;
		font-size: 11px;
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		line-height: 1;
		margin-left: 5px;
	}
}
.more-link {
	display: block;
	font-size: 13px;
}
p.meta {
	text-transform: uppercase;
	font-family: $font-family-serif;
	font-size: 16px;
	color: $brand-primary;
}
p.price, p.mris, p.sold {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 40px;
	color: $white;
	background: $brand-highlight-medium;
	padding: 10px 15px;
	margin-bottom: 20px;
	line-height: 1;
	//border: 1px solid $brand-background-darker;
}
p.mris {
	font-size: 30px;
	color: $brand-highlight-medium;
	background: $brand-background;
}
p.sold {
	text-align: center;
//	color: $white;
	background: $brand-alert;
	border: 4px solid $white;
	font-weight: 700;
	padding: 15px 20px;
	@include box-shadow(0 1px 2px rgba(0,0,0,0.3));
	font-size: 35px;
	@media (min-width: $screen-sm-min) {
		margin-top: 10px;
		font-size: 40px;
	}
	@media (min-width: $screen-lg-min) {
		font-size: 45px;
	}
}
.callout {
	@extend .h3;
	color: $brand-secondary-medium;
	line-height: 1.35;
	a:not(:hover) {
		color: $brand-secondary-medium;
	}
}

// Site Icons
[class*="icon-"] {
	a::before {
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		font-family: "Font Awesome 5 Brands";
		font-weight: 400;
		font-size: 15px;
		line-height: 1;
		content: "";
	}
}
.nav-social [class*="icon-"] a:hover::before, .nav-utility [class*="icon-"] a:hover::before {
	color: $white;
}

// -- content icons
.icon-phone {
	a::before {
		font-family: "Font Awesome 5 Free";
		content: "\f095"; // fas fa-phone
		font-weight: 900;
		font-size: 19px;
		margin: 0 10px 0 0;
	}
}
.icon-directions {
	a::before {
		font-family: "Font Awesome 5 Free";
		content: "\f14e"; // fas fa-compass
		font-weight: 900;
		font-size: 22px;
		display: block;
		float: left;
		margin: 2px 8px 10px 0;
	}
}
.icon-email {
	a::before {
		font-family: "Font Awesome 5 Free";
		content: "\f0e0"; // fas fa-envelope
		font-weight: 900;
		font-size: 19px;
		margin: 0 10px 0 0;
	}
}
// -- utility header icons
.icon-email-updates {
	a::before {
		font-family: "Font Awesome 5 Free";
		content: "\f0e0"; // fas fa-envelope
		font-weight: 900;
	}
}
.icon-contact {
	a::before {
		font-family: "Font Awesome 5 Free";
		content: "\f075"; // fas fa-comment
		font-weight: 900;
	}
}

// -- social Icons
.icon-twitter {
	a::before {
		content: "\f099";
	}
	a:hover {
		background-color: $twitter-color;
	}
}
.icon-facebook {
	a::before {
		content: "\f39e";
	}
	a:hover {
		background-color: $facebook-color;
	}
}
.icon-linkedin {
	a::before {
		content: "\f0e1";
	}
	a:hover {
		background-color: $linkedin-color;
	}
}
.icon-pinterest {
	a::before {
		content: "\f0d2";
	}
	a:hover {
		background-color: $pinterest-color;
	}
}
.icon-instagram {
	a::before {
		content: "\f16d";
	}
	a:hover {
		background-color: $instagram-color;
	}
}
.icon-flickr {
	a::before {
		content: "\f16e";
	}
	a:hover {
		background-color: $flickr-color;
	}
}
.icon-houzz {
	a::before {
		content: "\f27c";
	}
	a:hover {
		background-color: $houzz-color;
	}
}

// Forms & Buttons

// Contact form 7 styles
//.wpcf7-form-control.wpcf7-textarea, .wpcf7-form-control.wpcf7-text {
//	@extend .form-control;
//}
//.wpcf7-form-control.wpcf7-submit {
//	@extend .btn;
//	@extend .btn-primary;
//}

label {
	font-weight: 500;
}

// gravity forms plugin styles
.content-main .gform_heading .gform_title {
	display: none;
}
.gform_wrapper span.gform_description {
	font-weight: 300 !important;
}
.gfield_label {
	color: $brand-primary;
	margin-bottom: 0;
	font-weight: 500 !important;
	line-height: 1.1 !important;
	font-size: 15px !important;
	.sidebar & {
		font-size: 13px !important;
	}
}
.gfield_description {
	padding-top: 5px !important;
	font-size: 13px !important;
}
@media only screen and (min-width: 641px) {
	.gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium, .gform_wrapper .top_label input.small, .gform_wrapper .top_label select.small {
		width: 100% !important;
	}
	.sidebar .gform_wrapper ul.gform_fields li.gfield {
		width: 100%;
		padding-right: 7px;
		display: inline-block;
		margin-bottom: 5px;
	}
	.sidebar .gform_wrapper ul.gform_fields li.gfield.half {
		width: 50%;
	}
	.sidebar .gform_wrapper ul.gform_fields li.gfield.one-third {
		width: 30%;
	}
	.sidebar .gform_wrapper ul.gform_fields li.gfield.two-third {
		width: 70%;
	}
}
@media (min-width: $screen-lg-min) {
	.gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium {
		width: 50% !important;
	}
}
.gform_wrapper textarea, .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	border: 1px solid $brand-background-dark !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	padding: 6px 10px !important;
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		font-size: 13px;
		color: $brand-primary-gray-light;
	}
	&::-moz-placeholder { /* Firefox 19+ */
		font-size: 13px;
		color: $brand-primary-gray-light;
	}
	&:-ms-input-placeholder { /* IE 10+ */
		font-size: 13px;
		color: $brand-primary-gray-light;
	}
	&:-moz-placeholder { /* Firefox 18- */
		font-size: 13px;
		color: $brand-primary-gray-light;
	}
}
body .gform_wrapper .top_label div.ginput_container {
	margin-top: 4px !important;
}
.gform_wrapper .top_label .captcha .gfield_label {
	display: none !important;
}
.sidebar .gform_wrapper .gform_footer {
	padding-top: 0;
	margin-top: 4px;
}
.gform_wrapper li.hidden_label {
	margin-top: 0 !important;
	input {
		margin-top: 0 !important;
	}
}
.btn, .gform_button {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
	border-radius: 3px;
	padding: 10px 20px;
	@include transition(background .3s ease);
	color: $white;
	background: $link-color;
	border: 1px solid $link-color;
	&:hover {
		color: $white;
		background: $brand-highlight-dark;
		border-color: $brand-highlight-dark;
	}
}

.gform_button {
	font-size: 15px !important;
}

.btn-load {
	font-size: 13px;
	background: $brand-background;
	border-color: $brand-background;
	border-radius: 0;
	color: $brand-background-medium;
	&::after {
		font-family: "Font Awesome 5 Free";
		content: "\f078"; // fas fa-comment
		font-weight: 900;
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		line-height: 1;
		margin-left: 5px;
	}
}

// Exclude email sidebar form from contact page
.page-id-105 .content-sidebar {
	.sidebar:nth-of-type(1) {
		display: none;
	}
	.sidebar:nth-of-type(2) {
		margin-top: 0;
	}
}

// Exclude latest posts from contact page
.blog .content-sidebar, .page-template-page-hub .content-sidebar {
	.sidebar:last-child {
		display: none;
	}
}

// AddToAny icons
.a2a_svg {
	border-radius: 3px !important;
	padding: 4px !important;
	@include box-shadow(0 0 2px rgba(0,0,0,0.3));
	//border: 1px solid $brand-primary-gray-dark;
}
.addtoany_list a, .widget .addtoany_list a {
	padding: 0 4px !important;
}
.a2a_menu {
	border-radius: 3px !important;
	border: none !important;
	padding: 15px !important;
	@include box-shadow(0 2px 3px rgba(0,0,0,0.3));
	a {
		color: $brand-secondary !important;
		font-size: 14px !important;
	}
}
.a2a_wide a {
	border-top: none !important;
}
.addtoany_list a:hover span {
    background-color: $brand-highlight-medium !important;
	opacity: 1 !important;
}
.a2a_label {
	.header-page & {
		color: $white;
	}
}

// Skip Link
a.skip-link {
	color: $link-color;
	.home & {
		color: $white;
	}
}

// Tables
.table>tbody>tr>td {
	font-size: 15px;
	line-height: 1.4;
	padding: 15px;
}
@media (max-width: $screen-sm-max) {
	.table-responsive>.table>thead>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>tfoot>tr>td {
		white-space: normal;
	}
}