// Wordpress Reqs
// --------------------------------------------------

// Image Alignment
.pull-left, .alignleft {
	float: left;
	margin: 0 20px 20px 0;
}
.pull-right, .alignright {
	float: right;
	margin: 0 0 20px 20px;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 20px auto;
}

// Captions
.wp-caption, .gallery-caption {
	margin-bottom: 20px;
	max-width: 100%;
}
.wp-caption-text {
	color: $brand-secondary;
	font-size: 12px;
	padding-top: 6px;
}

// Responsive Images
.content-body-single img[class*="wp-image-"] {
	max-width: 100%;
	height: auto;
	display: block;
}

// Misc
.sticky, .bypostauthor {
	display: inherit;
}

// Text meant only for screen readers
.says,
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	/* many screen reader and browser combinations announce broken words as they would appear visually */
	word-wrap: normal !important;
}